.fontqatar {
  font-family: 'Qatar2022', sans-serif;
}

.fontqatar2 {
  font-family: 'Graphik Web Regular', sans-serif;
}

.fondomarca {
  background-image: linear-gradient(to right, #ce61b2 , #654bb9);
}